@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
  text-align: center;
  color:black;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://img.freepik.com/vetores-premium/ruas-da-cidade-vizinha-casas-desenhos-animados-plana_81522-3204.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
  
  margin: auto;
  align-items: center;
  max-width: 29rem;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #cfc9c9b4;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1{
  font:  2rem 'Caprasimo', cursive;
  padding: 0 2rem .5rem 2rem;
 
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #D9E8D8;
  color: #0d0c22;
  box-shadow: 0 0 5px #fff, 0 0 0 10px #fff;
  transition: .3s ease;
}

.input::placeholder {
  color: #777;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #777;
  width: 1rem;
  height: 1rem;
}





